<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page"  routerLink="/professor/homefaculty"><i class="bi bi-house-fill me-2"></i>Home</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/professor/viewcourse"><i class="bi bi-people-fill me-2"></i>View Courses</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/professor/studentdetails"><i class="bi bi-people-fill me-2"></i>Student Details</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" routerLink="/"><i class="bi bi-people-fill me-2"></i>Logout</a>
        </li>
        <!-- <li class="nav-item rounded">
          <a class="nav-link" href="#"><i class="bi bi-telephone-fill me-2"></i>Contact</a>
        </li> -->
        <li class="nav-item dropdown rounded">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a> -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!-- <li><a class="dropdown-item" href="#">Account</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li> -->
            <!-- <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Logout</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="text-align: center;color:darkmagenta;"><h1>Add Course</h1></div>
<div style=" background-image: url('https://itbrief.co.nz/uploads/story/2020/01/17/digital_globe11.jpg');">
    <div class="card" style="border-radius: solid 25px; border-color:rgb(121, 15, 68);width: 50%;margin-top:40px;
    margin-left: 350px;">

      <div class="card-body p-5">
        <form name="createcourse" (ngSubmit)="createcourse()">
          
          <br />
          <br />
          <br />
          <div class="form-outline mb-4">
            <label class="form-label" >Course Name</label>
            <input  type="text" id="form3Example1"class="form-control form-control-lg" [(ngModel)]="coursedetails.coursetitle" name="coursetitle" required>
            
  
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" >Description</label>
            <textarea id="form3Example2" class="form-control form-control-lg" [(ngModel)]="coursedetails.description" name="description"  required></textarea>
  
          </div>
  
          <div class="form-outline mb-4">
            <label class="form-label" >Image</label>
            <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="coursedetails.imageUrl" name="imageUrl"  required>
  
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" >Duration</label>
            <input type="text" id="form3Example4" class="form-control form-control-lg" [(ngModel)]="coursedetails.duration" name="duration"  required>
  
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" >Course Fee</label>
            <input type="text" id="form3Example5" class="form-control form-control-lg" [(ngModel)]="coursedetails.coursefee" name="coursefee"  required>
  
          </div>

          <div style="width:60px;">
            <div style="float: left; width: 80px">
              <button type="submit" class="btn btn-primary btn-block"  >Submit</button> <br><br>
              <!-- <button class="btn btn-primary btn-block">Back</button> -->

            </div>
           
          </div>

          

        </form>
  
      </div>
  
     
  </div>
      </div>