
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link active" aria-current="page" routerLink="/professor/homefaculty"><i class="bi bi-house-fill me-2"></i>Home</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" routerLink="/professor/course-details"><i class="bi bi-people-fill me-2"></i>Add Course</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" routerLink="/professor/viewcourse"><i class="bi bi-people-fill me-2"></i>View Courses</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" routerLink="/professor/studentdetails"><i class="bi bi-people-fill me-2"></i>Student Details</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" routerLink="/">Logout</a>
          </li>
          <!-- <li><a class="dropdown-item" href="#">Logout</a></li> -->
          
          <li class="nav-item dropdown rounded">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a> -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" href="#">Account</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li> -->
              <!-- <li>
                <hr class="dropdown-divider">
              </li> -->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section class="vh-200 bg-image"  style="background-image: url('https://itbrief.co.nz/uploads/story/2020/01/17/digital_globe11.jpg');background-repeat:repeat;width:100%;">
    <div>
      <br><br><br><br><br><br>
  
      <div class="card" style="border-radius: 25px;margin-left: 30px; margin-right: 40px;">
      
        <div class="card-body p-5">
          <h2>Application Form</h2>
          <form>
            <div style="width:100px;">
              <div style="float: left; width: 130px">
              </div>
            </div>
            <div style="width:600px;">
              <div style="float:left; width: 130px">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: blue;"(click)="approveStudent()">Approve</button>
              </div>
              <div style="float:left; width: 130px">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: red ; margin-left: 20px;" (click)="rejectStudent()">Reject</button>
              </div>
            </div>
            <br />
            <br />
            <br />
               <!-- <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1cg">Name</label>
                <input type="text" id="form3Example3"name="name" class="form-control form-control-lg" [(ngModel)]="courseapp.name">

                 </div> -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">Phone No</label>
              <input type="text"  id="form3Example3"name="phno" class="form-control form-control-lg" [(ngModel)]="courseapp.phno" >
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">Qualification</label>
              <input type="text" id="form3Example3" name="qualification" class="form-control form-control-lg" [(ngModel)]="courseapp.qualification" >
            </div>
            <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3cg">Course Taken</label>
            <input type="text" id="form3Example3" name="course" class="form-control form-control-lg" [(ngModel)]="courseapp.course"> 
            </div>            
            <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3cg">Mode of Study</label>
            <input type="text" id="form3Example3" name="mode" class="form-control form-control-lg" [(ngModel)]="courseapp.mode">                 
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" >Status</label>
              <input type="text" id="form3Example3" name="Status" class="form-control form-control-lg" [(ngModel)]="courseapp.Status">
            </div>
    <br/>
    
            <!--<div style="width:600px;">
              <div style="float:left; width: 130px">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(5, 189, 5);"(click)="approve()">Approve</button>
              </div>
            </div>-->
            
          </form>
    
        </div>
    
       
    </div>
        </div>
    </section> 