<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <!-- <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="..."> -->
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
        <a class="nav-item nav-link" routerLink="/homecourses">Courses</a>
        <a class="nav-item nav-link" routerLink="/blog">Blog</a>
        <!-- <a class="nav-item nav-link" routerLink="professor">Professor</a> -->
        <!-- <a class="nav-item nav-link" routerLink="student">Student</a> -->
      </div>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" routerLink="/login">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <!-- <a routerLink="signup" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a> -->
      </div>
    </div>
  </div>
</nav>

<section class="vh-200 bg-image" style="background-image: url('https://itbrief.co.nz/uploads/story/2020/01/17/digital_globe11.jpg');background-repeat:repeat;width:100%;">
    <br><br><br><br><br><br><br><div class=" align-items-center h-100 ">
      <div  id="header" class="container h-100">
        <div  class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class=" text-center mb-5">Registration Form for Students</h2>
  
                <form [formGroup]="register" (ngSubmit)="signupuser()">
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg" >First Name</label>
                    <input type="text" id="form3Example1" class="form-control form-control-lg"name="firstname" formControlName="firstname" />
                    <small style="color: red; font-weight: bolder;" *ngIf="register.get('firstname')?.touched && register.get('firstname')?.hasError('required')">** Please Enter First Name</small>
                    <small style="color: grey; font-weight: bolder;" *ngIf="register.get('firstname')?.touched && register.get('firstname')?.hasError('pattern')">** Only alphabets are allowed</small>
                   
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Last Name</label>
                    <input type="text" id="form3Example2" class="form-control form-control-lg"name="lastname" formControlName="lastname" />     
                    <small style="color: red; font-weight: bolder;" *ngIf="register.get('lastname')?.touched && register.get('lastname')?.hasError('required')">** Please Enter Last Name</small>
                    <small style="color: grey; font-weight: bolder;" *ngIf="register.get('lastname')?.touched && register.get('lastname')?.hasError('pattern')">** Only alphabets are allowed</small>            
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email</label>
                    <input type="email" id="form3Example3" class="form-control form-control-lg"name="email" formControlName="email" />
                    <small style="color: red; font-weight: bolder;" *ngIf="register.get('email')?.touched && register.get('email')?.hasError('required')">** Please Enter Email</small>
                    <small style="color: grey; font-weight: bolder;" *ngIf="register.get('email')?.touched && register.get('email')?.hasError('pattern')">** Invalid Email (eg: abc@gmail.com)</small>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Phone</label>
                    <input type="number" id="form3Example4" class="form-control form-control-lg"name="phone" formControlName="phone" />
                    <small style="color: red; font-weight: bolder;" *ngIf="register.get('phone')?.touched && register.get('phone')?.hasError('required')">** Please Enter Phone Number</small>
                    <small style="color: grey; font-weight: bolder;" *ngIf="register.get('phone')?.touched && register.get('phone')?.hasError('pattern')">** Invalid Phone Number</small>
                  </div> 
                 
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example4cg">Password</label>
                      <input type="password" id="form3Example5" class="form-control form-control-lg"name="password" formControlName="password" />                    
                    </div>  
                    <small style="color: red; font-weight: bolder;" *ngIf="register.get('password')?.touched && register.get('password')?.hasError('required')">** Please Enter Password</small>
                    <small style="color: grey; font-weight: bolder;" *ngIf="register.get('password')?.touched && register.get('password')?.hasError('pattern')">**Password should contain minimum 8 characters with at least one uppercase, lowercase, special characters & digits.</small>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example5cg">Qualification</label>
                      <input type="text" id="form3Example6" class="form-control form-control-lg"name="qualification" formControlName="qualification" />     
                      <small style="color: red; font-weight: bolder;" *ngIf="register.get('qualification')?.touched && register.get('qualification')?.hasError('required')">** Please Enter Your Qualification</small>
                      <small style="color: grey; font-weight: bolder;" *ngIf="register.get('qualification')?.touched && register.get('qualification')?.hasError('pattern')">** Only alphabets are allowed</small>            
                    </div>       
        
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block"[disabled]="register.invalid">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login" class="">Login</a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>

        